<mat-dialog-content class="scrollable-content">
  <h1 mat-dialog-title>Reviewer details </h1>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h6>Name and lastname</h6>
      </div>
      <div class="col-lg-9 text-right">
        <span>{{data.workerBonus.reviewerName}} </span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <h6>Role</h6>
      </div>
      <div class="col-lg-9 text-right">
        <span>{{data.workerBonus.reviewerRole}} </span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <h6>date</h6>
      </div>
      <div class="col-lg-9 text-right">
        <span>{{data.workerBonus.date | customDateFormat}} </span>
      </div>
    </div>
  </div>
  <h1 mat-dialog-title>Bonus Details </h1>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h6>Worker</h6>
      </div>
      <div class="col-lg-9 text-right">
        <span>{{data.worker.name}} {{data.worker.lastName}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <h6>Year</h6>
      </div>
      <div class="col-lg-9 text-right">
        <span>{{data.workerBonus.year}} </span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <h6>Period</h6>
      </div>
      <div class="col-lg-9 text-right">
        <span>{{ getQuarterName(data.workerBonus.quarter) }} </span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7">
        <h6>Censitivity Towards Entity Environment</h6>
      </div>
      <div class="col-lg-5 text-right">
        <span>{{data.workerBonus.sensitivityTowardsEntityEnvironment}} </span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7">
        <h6>Time Management</h6>
      </div>
      <div class="col-lg-5 text-right">
        <span>{{data.workerBonus.timeManagement}} </span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7">
        <h6>Respecting administrative procedures</h6>
      </div>
      <div class="col-lg-5 text-right">
        <span>{{data.workerBonus.respectingAdministrativeProcedures}} </span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9">
        <h6>Appropriate good use Equipment and/or machinery/IT Equipment</h6>
      </div>
      <div class="col-lg-3 text-right">
        <span>{{data.workerBonus.appropriateGoodUseEquipmentAndOrMachineryITEquipment}} </span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7">
        <h6>Team Player</h6>
      </div>
      <div class="col-lg-5 text-right">
        <span>{{data.workerBonus.teamPlayer}} </span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7">
        <h6>Energy, Determination & Work Rate</h6>
      </div>
      <div class="col-lg-5 text-right">
        <span>{{data.workerBonus.energyDeterminationWorkRate}} </span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7">
        <h6>Respect towards Authority and Integrity</h6>
      </div>
      <div class="col-lg-5 text-right">
        <span>{{data.workerBonus.respectTowardsAuthorityAndIntegrity}} </span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7">
        <h6>Adaptability, flexibility and mobility</h6>
      </div>
      <div class="col-lg-5 text-right">
        <span>{{data.workerBonus.adaptabilityFlexibilityAndMobility}} </span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7">
        <h6>Personal Appearance and Image</h6>
      </div>
      <div class="col-lg-5 text-right">
        <span>{{data.workerBonus.personalAppearanceAndImage}} </span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7">
        <h6>Communications Skills</h6>
      </div>
      <div class="col-lg-5 text-right">
        <span>{{data.workerBonus.communicationsSkills}} </span>
      </div>
    </div>
    <div class="row total-row">
      <div class="col-lg-3">
        <h6>Total</h6>
      </div>
      <div class="col-lg-9 text-right">
        <span>{{data.workerBonus.finalEvaluation}} </span>
      </div>
    </div>
  </div>
</mat-dialog-content>
 <mat-dialog-actions>
  <button mat-button (click)="onCancel()" class="btn confirm-button">Chiudi</button>
</mat-dialog-actions>
