<mat-card class="trinta-card working-schedule-card mb-25 bg-white border-none d-block">
    <mat-card-header>
        <mat-card-title>
            <h5 class="mt-0 mb-0">
                Prenotazioni
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
    <mat-calendar
        [(selected)]="selected"
        [startAt]="selected"
        [dateClass]="dateClass"
        (selectedChange)="onSelectedChange($event)">
    </mat-calendar>
        <ul class="events-list p-0 m-0 list-unstyled">
            <li
                *ngFor="let item of selectedBookings; let index = index"
                class="d-sm-flex align-items-center justify-content-between cursor-pointer"
                (click)="selectBooking(item)">
                <div class="content d-flex align-items-center">
                    <div class="number d-flex align-items-center justify-content-center text-center bg-primary text-white fw-semibold rounded-circle flex-shrink-0">
                        {{ index + 1 }}
                    </div>
                    <div class="title flex-grow-1">
                        <h6>
                            {{ item.booking.name || item.booking.user.name }}
                        </h6>
                        <span class="d-block time text-body">
                            {{ item.booking.startTime }} - {{ item.booking.endTime }} · {{ item.booking.user.name }}
                        </span>
                    </div>
                </div>
            </li>
            <li *ngIf="selectedBookings.length === 0" class="empty-message">
                Nessuna prenotazione per il giorno selezionato
            </li>
        </ul>
    </mat-card-content>
</mat-card>
