<mat-dialog-content class="scrollable-content">
  <h1 mat-dialog-title>Complier details </h1>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h6>Name and lastname</h6>
      </div>
      <div class="col-lg-9 text-right">
        <span>{{data.workerDisciplinaryReport.compilerName}} </span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <h6>Role</h6>
      </div>
      <div class="col-lg-9 text-right">
        <span>{{data.workerDisciplinaryReport.compilerRole}} </span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <h6>Id card number</h6>
      </div>
      <div class="col-lg-9 text-right">
        <span>{{data.workerDisciplinaryReport.compilerIdCardNumber}} </span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <h6>Email</h6>
      </div>
      <div class="col-lg-9 text-right">
        <span>{{data.workerDisciplinaryReport.emailCompiler}} </span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <h6>Mobile</h6>
      </div>
      <div class="col-lg-9 text-right">
        <span>{{data.workerDisciplinaryReport.mobileCompiler}} </span>
      </div>
    </div>
  </div>
  <h1 mat-dialog-title>Disciplinary Details </h1>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h6>Worker</h6>
      </div>
      <div class="col-lg-9 text-right">
        <span>{{data.worker.name}} {{data.worker.lastName}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <h6>Date</h6>
      </div>
      <div class="col-lg-9 text-right">
        <span>{{data.workerDisciplinaryReport.insertDate | customDateFormat}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <h6>Location</h6>
      </div>
      <div class="col-lg-9 text-right">
        <span>{{data.location.name}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <h6>Address</h6>
      </div>
      <div class="col-lg-9 text-right">
        <span>{{data.location.address}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h6 class="bg-top">Reason</h6>
        <span class="boxed">{{data.workerDisciplinaryReport.reason}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h6 class="bg-top">Disciplinary action</h6>
        <span class="boxed">{{data.workerDisciplinaryReport.disciplinaryAction}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h6 class="bg-top">Actions taken</h6>
        <span class="boxed">{{data.workerDisciplinaryReport.actionsTaken}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h6>Uploaded files</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12" *ngFor="let item of data.workerDisciplinaryReport.uploadFiles">
        <span> 
          <a (click)="downloadFile(item)" 
            style="cursor: pointer; margin-bottom: 10px; float: left; width: 100%; font-weight: 500;">
              <i class="ri-file-download-fill down-file"></i> {{ item.name }}
          </a>
        </span>
      </div>
    </div>
  </div>
</mat-dialog-content>
 <mat-dialog-actions>
  <button mat-button (click)="onCancel()" class="btn confirm-button">Chiudi</button>
</mat-dialog-actions>
