<div
    class="sidebar-area bg-white transition sidebar-shadow"
>
    <div class="logo">
        <a routerLink="/" class="d-flex align-items-center">
            <img src="images/logo.svg" alt="logo-icon" width="50px">
            <span>
               N'Agorà - Backoffice
            </span>
        </a>
    </div>
    <ng-scrollbar visibility="hover">
        <div class="sidebar-inner">
            <div class="sidebar-menu">
                <mat-accordion>
                    <span class="sub-title text-body">
                        MAIN
                    </span>
                    <a routerLink="/dashboard" routerLinkActive="active" class="sidebar-menu-link">
                        <i-feather name="bar-chart-2"></i-feather>
                        <span class="title">Dashboard</span>
                    </a>

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i-feather name="home"></i-feather>
                                <span class="title">
                                    Spazi
                                </span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a routerLink="/spaces" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Vedi tutti
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/spaces/add" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Aggiungi
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>

                    <a routerLink="/users" routerLinkActive="active" class="sidebar-menu-link">
                        <i-feather name="users"></i-feather>
                        <span class="title">Utenti</span>
                    </a>

                    <a routerLink="/bookings" routerLinkActive="active" class="sidebar-menu-link">
                        <i-feather name="calendar"></i-feather>
                        <span class="title">Prenotazioni</span>
                    </a>

                    <a routerLink="/courses" routerLinkActive="active" class="sidebar-menu-link">
                        <i-feather name="book-open"></i-feather>
                        <span class="title">Corsi</span>
                    </a>

                    <a routerLink="/payments" routerLinkActive="active" class="sidebar-menu-link">
                        <i-feather name="credit-card"></i-feather>
                        <span class="title">Pagamenti</span>
                    </a>

                    <a routerLink="/cancellation-requests" routerLinkActive="active" class="sidebar-menu-link">
                        <i-feather name="alert-triangle"></i-feather>
                        <span class="title">Richieste annullamento</span>
                    </a>

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i-feather name="settings"></i-feather>
                                <span class="title">
                                    Impostazioni
                                </span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a routerLink="/wallet-settings" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Wallet nuovi iscritti
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>

                    <a class="sidebar-menu-link" (click)="logout()" href="#">
                        <i-feather name="Lock"></i-feather>
                        <span class="title">Logout</span>
                    </a>
                </mat-accordion>
            </div>
        </div>
    </ng-scrollbar>
</div>
