<h1 mat-dialog-title>Dettaglio prenotazione</h1>
<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <h6>Cliente</h6>
    </div>
    <div class="col-lg-9 text-right">
      <span>{{data.title}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <h6>Data</h6>
    </div>
    <div class="col-lg-9 text-right">
      <span>{{data.date | customDateFormat}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <h6>Ora inizio</h6>
    </div>
    <div class="col-lg-9 text-right">
      <span>{{data.extendedProps.startTime}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <h6>Ora fine</h6>
    </div>
    <div class="col-lg-9 text-right">
      <span>{{data.extendedProps.endTime}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <h6>Costo</h6>
    </div>
    <div class="col-lg-9 text-right">
      <span>{{data.extendedProps.payments[0]?.amount}} €</span>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <h6>Status</h6>
    </div>
    <div class="col-lg-9 text-right">
      <span>{{data.extendedProps.payments[0]?.status}}</span>
    </div>
  </div>
</div>
 <mat-dialog-actions>
  <button mat-button (click)="onCancel()" class="btn confirm-button">Chiudi</button>
</mat-dialog-actions>
